*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: rgb(152, 255, 255);
}
.logo{
    height: 80px;
    animation: slideRight 1s ease forwards;
}
.row{
    --bs-gutter-x:0px !important;
    }
.nav-link{
    font-size: 20px;
    font-weight: bold;
    color: black;
    animation: slideTop 1.5s ease forwards;
}
.nav-item{
    margin-right: 15px;
}
.mynav{
    background: #b8d8e3;
    width: 100%;
}
.hero video{
    float: left;
    position: absolute;
    width: 100%;
}
.hero_text{
    color: rgb(0, 255, 255);
    position: absolute;
}
.hero_text h1{
    padding: 0px 40px;
    padding-top: 150px;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    animation: slideLeft 1.5s ease forwards;
}
.hero_text h3{
    padding: 0px 50px;
    font-size: 50px;
    animation: slideTop 1.5s ease forwards;
}
.hero_text h6{
    position: absolute;
    line-height: 25px;
    padding: 0px 50px;
    text-align: justify;
    letter-spacing: 1px;
    animation: slideRight 1.5s ease forwards;
}
.Me{
    height: 600px;
    position: absolute;
}
.mybtn{
    margin-top: 80px;
    margin-left: 50px;
    padding: 0px 50px;
    column-rule: #fff;
    font-weight: bold;
}
.space{
    height: 880px;
}
.text1{
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
}
.text2{
    padding-bottom: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder
}
.aboutme_pic{
    margin-left: 200px;
    height: 450px;
}
.text_aboutme{
    text-align: justify;
    letter-spacing: 1px;
    line-height: 25px;
    padding-top: 100px;
    padding-left:  70px;
}
.list{
    padding-top: 20px;
    padding-left:  90px;
}
.space2{
    height: 150px;
}
.text_hobbie_heading{
    font-weight: bolder;
    padding-top: 100px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text_hobbie{
    text-align: center;
    padding: 0px 200px;
}
.hobbie_logo{
    height: 300px;
}
.hobbie_logo1{
    padding-left: 200px;
    height: 300px;
}
#button{
    height: 30px;
    width: 100px;
    background: aqua;
}













/* KEYFRAME ANIMATION */
@keyframes slideRight {
0% {
transform: translateX(-100px);
opacity: 0;
}
}
@keyframes slideBottom {
0% {
transform: translateY(-100px);
opacity: 0;
}
100% {
transform: translateY(0);
}
}
@keyframes slideTop {
0% {
transform: translateY(100px);
opacity: 0;
}
100% {
transform: translateY(0);
}
}
@keyframes slideLeft {
0% {
transform: translateX(100px);
opacity: 0;
}
}
@keyframes slideRight1 {
0% {
transform: translateX(100px);
opacity: 0;
}
}